h1 {
  font-family: 'Dokdo', cursive;
  font-size: 115px;
  line-height: 1.1;
  color: $primary;
}

h2 {
  font-family: 'Dokdo', cursive;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 4.9px;
  color: $primary;
}

p {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
}