// header
.blog {
  background-image: url(../assets/blog-image-1.jpg)
}

// side-bar

aside {
  background: $secondary;
  width: 390px;
  margin: -1350px 0 50px;

  position: sticky;
  top: 50px;
  float: right;

  img {
    margin-left: auto;
    position: relative;
    top: -20px;
  }

  .sidebar-text {
    margin: 0 25px;
  }

  h3 {
    margin: 5px 0;
  }

  p {
    margin-bottom: 35px;
  }

  ul {
    margin: 15px 0 40px;

    li {
      list-style-type: disc;
      color: $primary;
      margin-left: 20px;

      p {
        margin: 0 0 0 10px;
        color: $baseFont;
      }
    } 
  }
}


// blog post

.blog-post {
  width: 62.9%;

  img {
    box-shadow: 20px 20px $secondary;
    width: 100%;
  }
  
  .img-container {
    margin-top: -200px;
    padding-right: 20px;
  }

  .author {
    font-style: italic;
    letter-spacing: 0;
  }

  .bold {
    font-weight: bold;
  }
  
  .blog-text {
    border-right: 5px solid $secondary;
    border-bottom: 5px solid $secondary;

    padding: 10vh 50px 50px calc(100vw * 0.08);

    p {
      padding-bottom: 5vh;
    }

    p:last-of-type {
      padding: 0;
    }
  }
}

// Comments

.comments {
  padding-top: 50px;
  margin-right: 33.9%;

  h2 {
    color: $baseFont;
  }

  .comment-info {
    margin-bottom: 10px;
    color: $primary;
  }

  .comment {
    display: flex;
    gap: 40px;
    padding: 35px 0;
  }

  .comment-pic {
    min-width: 92px; 
  }
}