// button styling
button {
  background: $secondary;
  font-family: 'Dokdo', cursive;
  color: $baseFont;
  font-size: calc(1vw + 20px);
  letter-spacing: 1.5px;
  border: none;
  padding: 10px;
  margin-top: 20px;
  transition: .3s background, .3s color;
    
  &:hover,
  &:focus {
    background: $primary;
    color: $background1;
  }
}