h1 {
  @include fontstyle('Dokdo', $primary, 115px, lighter, 1.1);
}

h2 {
  @include fontstyle('Dokdo', $primary, 45px, lighter, 58px);
  letter-spacing: 4.9px;
}

h3 {
  @include fontstyle('Dokdo', $baseFont, 28px, lighter);
  letter-spacing: 4.5px;
}

p {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
}