// top bar and navigation links
header {
  padding-top: 30px;
  background-size: cover;

  a {
    text-decoration: none;
    color: $baseFont;
    transition: color .3s;

    &:hover,
    &:focus {
      color: $primary;
    }
  }

  nav {
    display: flex;

    i.fa-bars {
      display: none;
    }
    
    ul {
      flex: 1 0 50%;

      display: flex;
      justify-content: flex-end;

      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 1px;
    }

    li {
      margin-left: 50px;
    }
  }

  .current {
    color: $primary;
  }

  .logo {
    font-family: 'Dokdo', cursive;
    font-size: 41.5px;
    color: $primary;
    transition: color .3s;

    &:hover,
    &:focus {
      color: $baseFont;
    }
  }
}

// header styles - blog and contact

.blog,
.contact {
  height: 65vh;

  .header-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 8px;
  }
}