@media (max-width: 1200px) {
  .free-trials img {
    min-height: 40vh;
    object-fit: cover;
  }

  .group-programs,
  .new-locations {
    .outer-wrapper {
      display: block;
      width: 90%;
    }

    img {
      width: 100%;
    }

    .programs-text,
    .locations-text {
      display: block;
      width: 100%;
      margin: 0;
      padding: 15px 0;
    }

    h2 {
      text-align: left;
    }

    button {
      display: block;
      margin: 20px auto;
    }
  }
}


@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }

  header {
    height: 100vh;

    img {
      display: none;
    }
    .title {
      margin: 0 auto 20%;
    }
  }

  .adventure {
    padding: 10vh 0;

    .adventure-text {
      width: 100%;
    }

    img {
      margin: 0 auto;
      width: 65%;
      height: auto;
      margin-top: 30px;
    }
  }

  h2 {
    font-size: calc(2vw + 25px);
    line-height: 1.2;
    text-align: center;
  }

  p {
    font-size: calc(.5vw + 15px);
  }

  button {
    display: block;
    margin: 20px auto;
  }

}

@media (max-width: 800px) {
  header {
    li, .logo {
      display: none;
    }

    nav i.fa-bars {
      display: inline-block;
      font-size: 40px;
      margin-right: 20px;
    }

    h1 {
      font-size: calc(10vw + 25px);
    }
  
    p {
      font-size: calc(3vw + 10px);
    }
  }


}

@media (max-width: 700px) {
  .new-locations img {
    top: 0;
  }

  .trials-text {
    width: 90%;

    h2 {
      text-align: left;
    }
  }
}