@mixin flexbox($direction: row, $justify-content: space-between, $align-items: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin fontstyle($font-family: 'Lato', $color: $baseFont, $font-size, $font-weight: normal, $line-height: 1.15) {
  font-family: $font-family;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}