.inner-modal {
  position: relative;
  z-index: 25;

  background: $background2;
  border: solid 3px $primary;
  border-radius: 35px;
  width: 60%;

  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);

  h2,
  p {
    text-align: center;
    margin: 3%;
  }

  i {
    font-size: 50px;
    color: $primary;
    position: absolute;
    right: 25px;
    top: 25px;
    transition: 0.2s color;

    &:hover {
      color: $baseFont;
    }
  }
}

.outer-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;

  background-color: rgba(0, 0, 0, 0.75);

  // to hide the modal and blackout effect initially
  opacity: 0;
  pointer-events: none;
  transition: 0.5s opacity;

  &.open {
    // trigger modal and blackout effect
    opacity: 1;
    pointer-events: all;
  }
}
