@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Lato:wght@300;400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  background: #555F02;
  font-family: "Dokdo", cursive;
  color: #FAFFFE;
  font-size: calc(1vw + 20px);
  letter-spacing: 1.5px;
  border: none;
  padding: 10px;
  margin-top: 20px;
}

img {
  max-width: 100%;
  display: block;
}

p, h1, h2, h3, h4, h5, h6, ul, li, img, section, main, figure, article, aside, footer, header {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #FAFFFE;
  background: #1E140E;
}

.wrapper {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

.outer-wrapper {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

h1 {
  font-family: "Dokdo", cursive;
  font-size: 115px;
  line-height: 1.1;
  color: #FFC600;
}

h2 {
  font-family: "Dokdo", cursive;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 4.9px;
  color: #FFC600;
}

p {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
}

header {
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
  height: 80vh;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
header a {
  text-decoration: none;
  color: #FAFFFE;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav i.fa-bars {
  display: none;
}
header nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}
header nav li {
  margin-left: 50px;
}
header .current {
  color: #FFC600;
}
header .logo {
  font-family: "Dokdo", cursive;
  font-size: 41.5px;
  color: #FFC600;
}
header .outer-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .title {
  margin: 0 0 85px 420px;
}
header p {
  text-transform: lowercase;
  font-size: 40px;
  letter-spacing: 6px;
  line-height: 20px;
  margin-left: 20px;
}
header img {
  -webkit-filter: sepia(1);
          filter: sepia(1);
  width: 43.4375%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 25%;
}

.adventure {
  padding: 20vh 0 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.adventure .adventure-text {
  width: 60%;
}
.adventure img {
  -webkit-box-shadow: -20px 20px #555F02;
          box-shadow: -20px 20px #555F02;
  width: 304px;
  height: 304px;
}

.gallery {
  background: #262725;
  padding: 15vh 0;
}
.gallery .gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px 35px;
}
.gallery li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}
.gallery img {
  width: 100%;
}

.offerings {
  padding: 15vh 0;
}
.offerings ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px 15px;
}
.offerings li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  margin-left: calc(4vw + 50px);
  position: relative;
}
.offerings li h2 {
  text-align: left;
}
.offerings li::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  background: #555F02;
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 10px;
  position: absolute;
  right: calc(100% + 1vw + 10px);
}
.offerings .offering2::before {
  content: "";
}
.offerings .offering3::before {
  content: "";
}
.offerings .offering4::before {
  content: "";
}

.group-programs,
.new-locations {
  background: #262725;
}
.group-programs .outer-wrapper,
.new-locations .outer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.group-programs .programs-text,
.group-programs .locations-text,
.new-locations .programs-text,
.new-locations .locations-text {
  width: 30%;
}

.group-programs img {
  -webkit-box-shadow: 20px 20px #FFC600;
          box-shadow: 20px 20px #FFC600;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: -40px;
}
.group-programs .programs-text {
  margin-right: 10%;
  padding-top: 10vh;
}

.new-locations img {
  -webkit-box-shadow: -20px 20px #FFC600;
          box-shadow: -20px 20px #FFC600;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 40px;
}
.new-locations h2 {
  text-align: right;
}
.new-locations button {
  display: block;
  margin-left: auto;
}
.new-locations .locations-text {
  margin-left: 10%;
  padding-top: 70px;
}

.trials-text {
  margin: 0 auto;
  width: 60%;
  padding: calc(10vh + 5px) 0;
}
.trials-text h2 {
  text-align: center;
}
.trials-text button {
  display: block;
  margin: 20px auto;
}

footer {
  background: #262725;
  text-align: center;
  padding: 5px 0;
}

@media (max-width: 1200px) {
  .free-trials img {
    min-height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .group-programs .outer-wrapper,
.new-locations .outer-wrapper {
    display: block;
    width: 90%;
  }
  .group-programs img,
.new-locations img {
    width: 100%;
  }
  .group-programs .programs-text,
.group-programs .locations-text,
.new-locations .programs-text,
.new-locations .locations-text {
    display: block;
    width: 100%;
    margin: 0;
    padding: 15px 0;
  }
  .group-programs h2,
.new-locations h2 {
    text-align: left;
  }
  .group-programs button,
.new-locations button {
    display: block;
    margin: 20px auto;
  }
}
@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }

  header {
    height: 100vh;
  }
  header img {
    display: none;
  }
  header .title {
    margin: 0 auto 20%;
  }

  .adventure {
    padding: 10vh 0;
  }
  .adventure .adventure-text {
    width: 100%;
  }
  .adventure img {
    margin: 0 auto;
    width: 65%;
    height: auto;
    margin-top: 30px;
  }

  h2 {
    font-size: calc(2vw + 25px);
    line-height: 1.2;
    text-align: center;
  }

  p {
    font-size: calc(.5vw + 15px);
  }

  button {
    display: block;
    margin: 20px auto;
  }
}
@media (max-width: 800px) {
  header li, header .logo {
    display: none;
  }
  header nav i.fa-bars {
    display: inline-block;
    font-size: 40px;
    margin-right: 20px;
  }
  header h1 {
    font-size: calc(10vw + 25px);
  }
  header p {
    font-size: calc(3vw + 10px);
  }
}
@media (max-width: 700px) {
  .new-locations img {
    top: 0;
  }

  .trials-text {
    width: 90%;
  }
  .trials-text h2 {
    text-align: left;
  }
}